<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Elixar Systems</title>
</head>
<body>
    <h1>Mailer</h1>
    <form>
        <input type = "text" id = "email" placeholder = "Email">
        <input type = "text" id = "subject" placeholder = "Email_Subject">
        <input type = "submit" value = "Submit">
    </form>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>

        $('form').on('submit', (e) => {
            e.preventDefault();
            const email = $('#email').val().trim();
            const subject = $('#subject').val().trim();
            const text = "FCXV3E";
            
            const data = {
                email,
                subject,
                text
            };

            $.post('/email', data, function(){
                console.log('Server recieved our data!');
            })    
        });

    </script>
</body>
</html>